<ion-view title={{translation.INICIO}} xmlns="http://www.w3.org/1999/html">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content >

        <img id ="img-logo" src="images/logo_uz.png" alt="Logo de la Universidad de Zaragoza"> </img>

        <div>
          <img class ="aragon"  id="aragonMapImg" usemap="#aragonMap" src="images/mapa_Aragon_mobile.png" border="0" 
            width="300" height="335" orgWidth="300" orgHeight="335" alt="Mapa de provincias de Aragon"> </img>
        </div>

        <map name="aragonMap" id="aragonMap">

            <area id="HuescaImgMap" shape="poly" coords="139,8,172,14,196,30,249,28,257,38,253,89,246,119,227,133,233,149,225,163,213,167,205,174,184,146,163,131,146,109,133,103,133,73,127,26" ng-click="loadMap(0)" ui-sref="app.mapa" title="Huesca" alt="Huesca"/>

            <area id="ZaragozaImgMap" shape="poly" coords="128,25,139,68,133,106,172,142,208,171,225,163,232,181,215,199,201,202,163,182,149,195,75,216,30,186,54,106,110,36" ng-click="loadMap(1)" ui-sref="app.mapa" title="Zaragoza" alt="Zaragoza"/>

            <area id="TeruelImgMap" shape="poly" coords="159,173,222,207,222,230,202,239,185,237,178,247,175,280,133,332,109,319,56,273,75,217,115,194" 
              ng-click="loadMap(2)" ui-sref="app.mapa" title="Teruel" alt="Teruel"/>

        </map>
    </ion-content>
</ion-view>
