<div id="confirm-edit-poi-popup">
	<p>
		Al confirmar la modificación del punto de interés se creara una petición 
		que será aprobada o rechaza por un administrador.
	</p>
	<p>
		Si desea recibir notificación de dicha aprobación o rechazo, 
		marque la casilla e introduzca una dirección de email:
	</p>
	<div class="list">
		<label class="checkbox-inline">
				<input type="checkbox" value="" ng-model="emailChecked">Recibir notificación
		</label>
	  <label class="item item-input">
	    <input type="email" ng-model="email">
	  </label>
	</div>
</div>