#search-view {
  .item-select select {
    font-size: 16px !important;
    width: 200px !important;
  }
  .item-select option {
    font-size: 16px !important;
  }
  .input-label {

  }
  .button.button-positive {
    width: 60% !important;
    margin-left: 20% !important;
  }
}