<ion-view id="estancia-view" title={{translation.INICIO}} xmlns="http://www.w3.org/1999/html">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content >
        <div class="list">
            <label class="item item-input">
                <span class="input-label">{{translation.DATOSNOMBRE}}:</span>
                <input type="text" ng-model="data.city" disabled>
            </label>
            <label class="item item-input">
                <span class="input-label">{{translation.DATOSESTANCIA}}:</span>
                <input type="text" ng-model="data.estancia" disabled>
            </label>
            <label class="item item-input">
                <span class="input-label">{{translation.DATOSTIPO}}:</span>
                <input type="text" ng-model="data.type" disabled>
            </label>
            <label class="item item-input">
                <span class="input-label">{{translation.DATOSSUPERFICIE}}:</span>
                <input type="text" ng-model="data.area" disabled>
            </label>
            <button class="button button-full button-positive" ng-click="mostrarFoto()">
                {{translation.PHOTO}}
            </button>
            <button class="button button-full button-positive" ng-click="ver_mapa()">
                {{translation.VER_MAPA}}
            </button>
            <button class="button button-full button-positive" ng-click="volver()">
                {{translation.BACK}}
            </button>
        </div>
    </ion-content>
</ion-view>
